<!DOCTYPE html>
<html>
  <head>
    <title>EChamp</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "application","style" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-1.6.min", "jquery/jquery.selectbox-0.1.2.min" %>
    <%= javascript_include_tag "tiny_mce/tiny_mce", "mce_init" %>
  </head>
  <body>

    <div id="outer">
      <div id="header">
        <div class="logo"><a href="/">
            <img src="/images/logo.png" width="278" height="43" alt="EVENTCHAMPION" title="EVENTCHAMPION" /></a></div>
        <% unless current_user %>
          <div class="sign"><a href="/sign_up">SIGN UP</a></div>
        <% end %>
      </div>

<%#*<div style="float: left;width:300px;">%>
<% unless current_user.blank? %>
<%= link_to "Events", "/events" %>
<%= link_to "Profile", "/profiles/show" %>
<%= link_to "Sign Out", "/sign_out" %>
<%# else %>
<%#= link_to "Sign In", "/sign_in" %>
<% end %>
<%#*</div>%>
<%#*<div style="width:150px;float: left;border-right: 1px solid white; border-color: white; margin-right: 0pt;">%>
<%#*Search%>
<%#*</div>%>
<%#*<div class="search_top">%>
<%#*<form action="/search">%>
<%#*<input class="search" name="q"/>%>
<%#*</form>%>
<%#*</div>%>
      <p style="color: green"><%= notice %></p>
      <p style="color: red"><%= alert %></p>
      <%= yield %>

      <div id="footer">
        <div class="f_menu">
          <ul class="menu">
            <li>
              <a href="#">About Event Champion</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Jobs</a>
            </li>
            <li>
              <a href="#">Pricing</a>
            </li>
            <li>
              <a href="#">Referral Program</a>
            </li>
            <li>
              <a href="#">Press</a>
            </li>
          </ul>
          <p>Company Street Address, State 1234</p><p>info@company.com</p><p>(123) 456-7890</p>

          <div class="social">
            <img src="/images/twitter.png" width="27" height="26" alt="Twitter" />&nbsp;&nbsp;&nbsp;
            <img src="/images/facebook.png" width="27" height="27" alt="Facebook" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
