<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>EVENT CHAMPION</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "style" %>

  </head>
  <body>
    <div id="outer">
      <div id="header1">
        <div class="logo1">
          <a href="/">
            <img src="images/main_logo.png" width="444" height="79" alt="EVENTCHAMPION" title="EVENTCHAMPION" />
          </a>
        </div>
        <div class="search">
          <div class="search1">
            <form action="/search">
              <input type="submit" name="submit" value="" class="btn" />
              <input name="q" type="text" class="box"/>
<%#*<input type="submit" value="Search" name="event" />%>
            </form>            
          </div>
        </div>
        <div class="t_menu">
          <ul class="tab">
            <li>
              <a href="/event_search">FIND EVENTS</a>
            </li>
            <li>
              <a href="#">LEARN MORE</a>
            </li>
            <li>
              <a href="/help">HELP</a>
            </li>

            <% if current_user.blank? %>
              <li>
                <a href="/sign_in">SIGNUP / LOGIN</a>
              </li>
            <% else %>
              <li>
                <a href="/sign_out">SIGN OUT</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <% unless current_user.blank? %>
        <%= link_to "Events", "/events" %>
        <%= link_to "Profile", "/profiles/show" %>        
  <%# else %>
  <%#= link_to "Sign In", "/sign_in" %>
      <% end %>
      <%= yield %>

      <div id="footer"><div class="f_menu"><ul class="menu"><li><a href="#">About Event Champion</a></li><li><a href="#">Contact</a></li><li><a href="#">Jobs</a></li><li><a href="#">Pricing</a></li><li><a href="#">Referral Program</a></li><li><a href="#">Press</a></li></ul>
          <p>Company Street Address, State 1234</p><p>info@company.com</p><p>(123) 456-7890</p>
        </div><div class="social"><img src="images/twitter.png" width="27" height="26" alt="Twitter">&nbsp;&nbsp;&nbsp;<img src="images/facebook.png" width="27" height="27" alt="Facebook"></div></div>
    </div>
  </body>
</html>